.gridConfig {
	font-size: 20px;
	width: 60%;
	margin: 10 auto 10 auto;
	text-align: center;
}
.numberInput {
	margin: 11px;
	display: block;
}
.numberInput input{
	height: 32px;
	width: 100px;
	float: right;
}
h1 {
	text-align: center;
	font-family: sans-serif;
	color: darkgray;
}
fieldset {
	border-radius: 10px;
	border-width: 4px;
	border-style: solid;
}
.divisao{
	position: relative;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}
table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table tr td {
	background-color: white;
	color: white;
	white-space: nowrap;
	height: 10px;
	width: 9px;
	border: 1px solid gray;
}
td.alive {
	background-color: green;
}
.display-iterations {
	width: 120px;
	font-size: 19pt;
	top: 6em;
	position: absolute;
	right: 27px;
}
.buttons {
	margin-top: 10px;
	display: inline-block;
	position: relative;
	height: 39px;
	width: 28%;
	left: 34%;
}
.buttons button {
	height: 25px;
	width: 50px;
	margin-top: 10;
	font-family: sans-serif;
	font-weight: bold;
}